/* General Body Styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Pushes footer to the bottom */
}

h1 {
  font-size: 34px;
  margin: 30px 0;
}

.inputs {
  margin: 25px 0;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

input {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin: 15px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: darkgrey;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

#diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Week Squares */
.week {
  border: 2px solid black;
  border-radius: 2px;
  display: inline-block;
}

.filled {
  background-color: black;
}

/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
  #diagram {
    margin-left: 2px;
    margin-right: 2px;
  }

  .week:first-child,
  .week:nth-child(52) {
    margin-left: 2px;
    margin-right: 2px;
  }
}

/* Footer Styles */
footer {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: #e9ecef;
  color: #212529;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  width: 100%;
}

footer a {
  color: #212529;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/* Header Bar Styles */
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 6px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.header-link {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 12px;
  background-color: #fff;
  color: black;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #0056b3;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 5px;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e9ecef;
}

.dropdown:hover .dropdown-content {
  display: block;
}
